<p-table
	#myTab
	[value]="items"
	[paginator]="paginator"
	[rows]="rows"
	(onPage)="setMyPagination($event)"
	(rowsChange)="onRowSelect($event)"
>
	<ng-template pTemplate="header">
		<tr>
			<ng-container *ngFor="let col of cols">
				<th>{{ col.header }}</th>
			</ng-container>
			<th>Actions</th>
		</tr>
	</ng-template>

	<ng-template pTemplate="body" let-data>
		<tr>
			<ng-container *ngFor="let col of cols">
				<td
					*ngIf="
						data[col.field].value &&
						col.field !== 'color' &&
						col.field !== 'price' &&
						col.field !== 'size' &&
						col.field !== 'category'
					"
				>
					{{ data[col.field].value }}
				</td>

				<td
					*ngIf="
						!data[col.field].value &&
						col.field !== 'color' &&
						col.field !== 'price' &&
						col.field !== 'size' &&
						col.field !== 'category'
					"
				>
					{{ data[col.field] }}
				</td>

				<td *ngIf="col.field === 'category'">
					<app-ship
						[label]="data[col.field].value"
						size="small"
						severity="primary"
					></app-ship>
				</td>

				<td *ngIf="col.field === 'size'">
					<app-tag
						[value]="data[col.field].value"
						variant="raised"
						severity="primary"
					></app-tag>
				</td>

				<td *ngIf="col.field === 'price'">
					<app-price
						[value]="data[col.field]"
						[prefix]="true"
						[currency]="currencyEnum.EUR"
					></app-price>
				</td>

				<td *ngIf="col.field === 'color'">
					<div class="badge-colors-box">
						<ng-container *ngFor="let color of data[col.field]">
							<app-badge-color [color]="color" size="medium"></app-badge-color>
						</ng-container>
					</div>
				</td>
			</ng-container>

			<td class="actions-btn">
				<app-button
					variant="raised"
					shape="square"
					color="success"
					size="medium"
					iconPrefix="fa-solid fa-pencil"
					(click)="openModalUpdateProduct(data)"
					>Edit</app-button
				>

				<app-button
					variant="rounded"
					shape="circle"
					color="danger"
					icon="fa-solid fa-trash-can"
					(click)="onDelete(data['id'], data['name'])"
					>Delete</app-button
				>
			</td>
		</tr>
	</ng-template>

	<ng-template pTemplate="paginatorleft" let-state>
		<div class="pagination-left-box">
			<span class="p-paginator-current" *ngIf="currentPageReportTemplate">
				{{ myPaginationString }}
			</span>

			<p-dropdown
				[options]="rowsPerPageOptions"
				optionLabel="label"
				optionValue="value"
				[(ngModel)]="rows"
				(ngModelChange)="onRowSelect($event)"
			></p-dropdown>
		</div>
	</ng-template>
</p-table>

<app-confirm-dialog
	title="Delete the product"
	(showConfirmDialog)="onAffich($event)"
></app-confirm-dialog>

<app-modal-product
	[(visible)]="sidebarVisible"
	title="Edit product"
	position="right"
	(fillFormProduct)="getCurrentProduct($event)"
></app-modal-product>
