@import '../../../../../../theme/scss/light/theme/theme';

.login-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-row {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 0rem 1rem;
	width: 100%;

	@media (min-width: $sm) {
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		gap: 1rem;
	}
}

app-text-field,
app-password-field {
	width: 100%;
	margin-bottom: 1rem;
}
