@import '../../../../../theme/scss/light/theme/theme';

:host ::ng-deep .p-dialog {
	justify-content: center;
	width: 100%;
	max-width: 550px;
	background-color: $light;
	border-radius: 10px;
}

:host ::ng-deep .p-dialog .p-dialog-header {
	flex-direction: column;
	gap: 2rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-top: 0.5rem;

	button {
		position: absolute;
		right: 1rem;
		top: 1rem;
    width: 30px;
    height: 30px;
	}
}

.icon-box {
	background-color: var(--red-600);
	padding: 1.25rem;
	border-radius: 10px;

	.icon {
		color: $light;
		font-size: 1.5rem;
	}
}

.dialog-title {
	font-weight: bold;
}

:host ::ng-deep .p-confirm-dialog .p-dialog-content {
	justify-content: center;
	max-width: 400px;
	margin: 0 auto;
	padding-bottom: 0.5rem;

	span {
		color: var(--primary-800);
	}
}

:host ::ng-deep .p-dialog .p-dialog-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-bottom: 2rem;
}

:host ::ng-deep app-alert {
	display: block;
	max-width: 400px;

	span {
		text-align: left;
	}
}

:host ::ng-deep .btn-box {
	display: flex;
	justify-content: center;
	padding-top: 1.5rem;
}

:host ::ng-deep .p-dialog .p-dialog-footer button {
	width: 175px;
}
