<p-table
	#myTab
	[value]="items"
	[paginator]="paginator"
	[rows]="rows"
	(onPage)="setPaginationString($event)"
	(rowsChange)="onRowSelect($event)"
>
	<ng-template pTemplate="header">
		<tr>
			<ng-container *ngFor="let col of cols">
				<th>{{ col.header }}</th>
			</ng-container>
			<th>Actions</th>
		</tr>
	</ng-template>

	<ng-template pTemplate="body" let-data>
		<tr>
			<ng-container *ngFor="let col of cols">
				<td
					*ngIf="
						!data[col.field].value &&
						(col.field === 'modelName' ||
							col.field === 'brandName' ||
							col.field === 'quantity')
					"
				>
					{{ data[col.field] }}
				</td>

				<td *ngIf="col.field === 'category'">
					<div class="list-box">
						<ng-container *ngFor="let category of data[col.field]">
							<app-chip
								[label]="category.label"
								size="small"
								severity="primary"
							></app-chip>
						</ng-container>
					</div>
				</td>

				<td *ngIf="col.field === 'size'">
					<div class="list-box">
						<ng-container *ngFor="let size of data[col.field]">
							<app-chip-square
								[label]="size.label"
								color="primary"
								size="small"
							></app-chip-square>
						</ng-container>
					</div>
				</td>

				<td *ngIf="col.field === 'price'">
					<app-price
						[value]="data[col.field]"
						[prefix]="true"
						[currency]="currencyEnum.EUR"
					></app-price>
				</td>

				<td *ngIf="col.field === 'color'">
					<div class="badge-colors-box">
						<ng-container *ngFor="let color of data[col.field]">
							<app-badge-color [color]="color" size="medium"></app-badge-color>
						</ng-container>
					</div>
				</td>

				<td *ngIf="col.field === 'status'">
					<app-chip
						[label]="data[col.field] ?? 'inactive'"
						size="small"
						[severity]="data[col.field] === 'active' ? 'info' : 'warning'"
					></app-chip>
				</td>
			</ng-container>

			<td class="actions-btn">
				<app-button
					variant="rounded"
					shape="circle"
					color="info"
					icon="fa-solid fa-eye"
					(click)="redirectToPageProduct(data.id)"
					>view</app-button
				>

				<app-button
					variant="rounded"
					shape="circle"
					color="success"
					icon="fa-solid fa-pencil"
					(click)="openModalUpdateProduct(data)"
					>Edit</app-button
				>

				<app-button
					variant="rounded"
					shape="circle"
					color="danger"
					icon="fa-solid fa-trash-can"
					(click)="onDelete(data['id'], data['brandName'])"
					>Delete</app-button
				>
			</td>
		</tr>
	</ng-template>
</p-table>

<app-confirm-dialog
	title="Delete the product"
	warningMessage="this action cannot be undone. this will permanently delete the product."
	(showConfirmDialog)="onAffich($event)"
></app-confirm-dialog>

<app-modal-product
	[(visible)]="sidebarVisible"
	title="Edit product"
	position="right"
	(fillFormProduct)="getCurrentProduct($event)"
></app-modal-product>
