<app-layout>
	<div class="side">
		<form novalidate [formGroup]="filterForm">
			<app-panel title="Sizes" [formGroup]="sizesForm">
				<div class="sizes-box">
					<ng-container *ngFor="let size of sizes">
						<app-checkbox-chip
							[name]="size.name"
							[label]="size.label"
							color="primary"
							[formControlName]="size.name"
							groupName="sizesForm"
							[parentForm]="filterForm"
						></app-checkbox-chip>
					</ng-container>
				</div>
			</app-panel>

			<app-panel title="Colors" [formGroup]="colorsForm">
				<div class="colors-box">
					<ng-container *ngFor="let color of colors">
						<app-checkbox-color
							[name]="color.name"
							[color]="color.severity"
							[formControlName]="color.name"
							groupName="colorsForm"
							[parentForm]="filterForm"
							(click)="colorSelected(color.name)"
						></app-checkbox-color>
					</ng-container>
				</div>
			</app-panel>
		</form>
	</div>

	<div class="content-list">
		<h4 class="page-title">All clothing</h4>

		<app-product-list
			[loading]="(loading$ | async) === true"
			[products]="filteredProducts"
		></app-product-list>
	</div>
</app-layout>
