:host ::ng-deep .p-checkbox {
	width: 25px;
	height: 25px;

	.p-checkbox-box {
		border-radius: 100%;
		width: 100%;
		height: 100%;
	}
}

:host ::ng-deep .p-checkbox .p-checkbox-box.p-highlight,
:host ::ng-deep .color-blue {
	.p-checkbox .p-checkbox-box.p-highlight,
	.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
		background-color: blue;
		border-color: blue;
	}

	.p-checkbox .p-checkbox-box {
		border-color: blue;
	}
}

:host ::ng-deep .color-red {
	.p-checkbox .p-checkbox-box.p-highlight,
	.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
		background-color: red;
		border-color: red;
	}

	.p-checkbox .p-checkbox-box {
		border-color: red;
	}
}

:host ::ng-deep .color-green {
	.p-checkbox .p-checkbox-box.p-highlight,
	.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
		background-color: green;
		border-color: green;
	}

	.p-checkbox .p-checkbox-box {
		border-color: green;
	}
}

:host ::ng-deep .color-yellow {
	.p-checkbox .p-checkbox-box.p-highlight,
	.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
		background-color: yellow;
		border-color: yellowred;
	}

	.p-checkbox .p-checkbox-box {
		border-color: yellowred;
	}
}

:host ::ng-deep .color-purple {
	.p-checkbox .p-checkbox-box.p-highlight,
	.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
		background-color: purple;
		border-color: purple;
	}

	.p-checkbox .p-checkbox-box {
		border-color: purple;
	}
}

:host ::ng-deep .p-element.p-icon-wrapper.ng-star-inserted {
	display: none;
}
