<app-loader [loading]="loading"></app-loader>

<ng-container *ngIf="!loading && products.length < 1">
	<app-no-result [items]="products">
		<app-button
			*ngIf="showBtn"
			variant="raised"
			shape="square"
			color="primary"
			size="medium"
			iconPrefix="fa-solid fa-plus"
			(click)="goToAllProducts()"
			>Back to products list</app-button
		>
	</app-no-result>
</ng-container>

<p-dataView
	*ngIf="!loading && products.length >= 1"
	#dv
	[value]="products"
	[rows]="5"
	[paginator]="true"
>
	<ng-template let-product pTemplate="listItem">
		<app-card-product-list
			[product]="product"
			[productsList]="productsList"
		></app-card-product-list>
	</ng-template>
</p-dataView>
