header {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.header-body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.box {
	width: 50%;
}

.btn-box {
	display: flex;
	justify-content: flex-end;
}

.page-title {
	margin-top: 0.3rem;
}
