<ng-container *ngIf="variant !== 'icon'">
	<p-button [styleClass]="styleClass" [disabled]="disabled" [type]="type">
		<div class="btn-content" [ngClass]="{ content: variant === 'raised' }">
			<i [class]="'icon mr ' + icon"></i>
			<h5 class="button">
				<ng-content></ng-content>
			</h5>
		</div>
	</p-button>
</ng-container>

<ng-container *ngIf="variant === 'icon'">
	<p-button [styleClass]="styleClass" [disabled]="disabled" [type]="type">
		<i class="'icon ' + icon"></i>
	</p-button>
</ng-container>
