<ng-container *ngIf="shape === 'circle'">
	<p-button
		[icon]="icon"
		[type]="type"
		[disabled]="disabled"
		[styleClass]="styleClass"
		class="icon"
	></p-button>
</ng-container>

<ng-container *ngIf="shape === 'square'">
	<p-button [type]="type" [disabled]="disabled" [styleClass]="styleClass">
		<div class="btn-content">
			<i *ngIf="iconPrefix" [class]="'icon mr ' + iconPrefix"></i>
			<h5 class="button-label">
				<ng-content></ng-content>
			</h5>
			<i *ngIf="iconSuffix" [class]="'icon ml ' + iconSuffix"></i>
		</div>
	</p-button>
</ng-container>
