<app-layout>
	<div class="page-title-box">
		<h1>Your shopping cart</h1>
	</div>

	<div class="cart-products-list">
		<h6 class="section-title">Products list</h6>

		<div class="cart-section">
			<app-table-cart-products
				[products]="cartProducts"
				[paginator]="true"
				[rows]="2"
				[rowsPerPageOptions]="rowsPerPageOptions"
				[first]="1"
			></app-table-cart-products>
		</div>
	</div>

	<div class="cart-order-summary">
		<h6 class="section-title">Order summary</h6>

		<div class="cart-section">
			<div class="sub-total-box">
				<app-price-order
					title="Subtotal"
					[price]="totalPriceProducts"
					[loading]="(loading$ | async) === true"
				></app-price-order>

				<app-price-order
					title="Delivery"
					[price]="totalDelivery"
					[loading]="(loading$ | async) === true"
				></app-price-order>
			</div>

			<app-divider margin="1.25rem 0rem"></app-divider>

			<div class="sub-total-box">
				<app-price-order
					title="Total (EUR)"
					[price]="totalCart"
					[loading]="(loading$ | async) === true"
				></app-price-order>
			</div>

			<div class="order-btn">
				<app-button-circular-radius
					label="Confirm"
					color="primary"
					[outlined]="false"
					icon="fa-solid fa-credit-card"
					size="full"
					[disabled]="(loading$ | async) === true"
				></app-button-circular-radius>
			</div>
		</div>
	</div>
</app-layout>
