@import '../../../../theme/theme';

.form-control {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.mat-mdc-form-field {
	width: 100%;
}

::ng-deep
	.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
		.mat-mdc-option-multiple
	) {
	background-color: lighten($primary-100, 13) !important;
}

::ng-deep
	.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
	.mdc-list-item__primary-text {
	color: $primary !important;
}

::ng-deep
	.mat-primary
	.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary
	.mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
	color: $primary !important;
}

::ng-deep .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
	background-color: lighten($primary-100, 13) !important;
}

::ng-deep .mat-mdc-option:focus.mdc-list-item,
.mat-mdc-option.mat-mdc-option-active.mdc-list-item {
	background-color: lighten($primary-100, 13) !important;
}

.error-container {
	margin-top: 0.3rem;
}

mat-error {
	color: darken($warn, 20) !important;
	background-color: $warn-200;
	padding: 0.15rem 0.3rem;
	border-radius: 6px;
}
