@import '../../../../../theme/scss/light/theme/theme';

.form-control {
	display: flex;
	flex-direction: column;
	width: 100%;
}

label {
	margin-bottom: 0.2rem;
}

::ng-deep .p-dropdown-label {
	width: 100% !important;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
	background-color: #fff;
}

:host ::ng-deep .p-inputtext.ng-dirty.ng-invalid {
	color: $danger;
}
