<app-dashboard-layout>
	<div class="container">
		<app-header pageTitle="Products">
			<app-button
				variant="raised"
				shape="square"
				color="primary"
				size="medium"
				[iconPrefix]="iconAdd"
				(click)="openModalAddNewProduct()"
				>Add new product</app-button
			>
		</app-header>

		<app-loader [loading]="loading$ | async"></app-loader>

		<div class="list-container" *ngIf="(loading$ | async) === false">
			<app-no-result [items]="products">
				<app-button
					variant="raised"
					shape="square"
					color="primary"
					size="medium"
					[iconPrefix]="iconAdd"
					(click)="openModalAddNewProduct()"
					>Add new product</app-button
				>
			</app-no-result>

			<ng-container *ngIf="products.length > 0">
				<app-table-dashboard-product
					[items]="products"
					[cols]="(cols$ | async) || []"
					[paginator]="true"
					[rows]="5"
					[showCurrentPageReport]="true"
					currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
					[rowsPerPageOptions]="(rowsPerPageOptions$ | async) || []"
					[first]="1"
					[totalRecords]="totalRecords"
				></app-table-dashboard-product>
			</ng-container>
		</div>
	</div>
</app-dashboard-layout>

<app-modal-product
	title="New product"
	position="right"
	[(visible)]="sidebarVisible"
></app-modal-product>

<p-toast position="top-right" [preventDuplicates]="true"></p-toast>
