@import '../../../../../theme/scss/light/theme/theme';

:host ::ng-deep .p-button {
	display: flex;
	align-items: center;
	min-width: 2.25rem;
	border-radius: 10px;
	padding: 0.5rem 0.5rem;
	box-shadow: none;
	border: none;
	background-color: transparent !important;
	color: var(--primary-800);

	.p-button-label {
		font-weight: lighter;
		line-height: 0.85;
	}

	.p-button-icon {
		font-size: 0.95rem;
		line-height: 1.1;
	}

	&.p-button-danger,
	&.p-button-danger:enabled:hover,
	&.p-buttonset.p-button-danger > .p-button:enabled:hover,
	&.p-splitbutton.p-button-danger > .p-button:enabled:hover {
		color: var(--red-500);
	}

	&.p-button-warning,
	&.p-button-warning:enabled:hover,
	&.p-buttonset.p-button-warning > .p-button:enabled:hover,
	&.p-splitbutton.p-button-warning > .p-button:enabled:hover {
		color: var(--yellow-500);
	}

	&.p-button-info,
	&.p-button-info:enabled:hover,
	&.p-buttonset.p-button-info > .p-button:enabled:hover,
	&.p-splitbutton.p-button-info > .p-button:enabled:hover {
		color: var(--blue-500);
	}

	&.p-button-success,
	&.p-button-success:enabled:hover,
	&.p-buttonset.p-button-success > .p-button:enabled:hover,
	&.p-splitbutton.p-button-success > .p-button:enabled:hover {
		color: var(--green-500);
	}

	&.p-button-help,
	&.p-button-help:enabled:hover,
	&.p-buttonset.p-button-help > .p-button:enabled:hover,
	&.p-splitbutton.p-button-help > .p-button:enabled:hover {
		color: var(--purple-500);
	}
}
