<div class="form-control">
	<label [htmlFor]="name">{{ label }}</label>

	<span [class]="class">
		<i *ngIf="endIcon" [class]="endIcon"></i>

		<input
			pInputText
			[type]="type"
			[id]="name"
			[name]="name"
			[value]="value"
			[disabled]="disabled"
			(input)="onInputChange($event)"
			(focus)="markAsTouched()"
			[class]="
				control?.invalid && control?.touched ? 'ng-invalid ng-dirty' : ''
			"
		/>
	</span>

	<app-error-field
		[control]="control"
		[validationMessages]="validationMessages"
	></app-error-field>
</div>
