<div class="form-control">
	<mat-label>{{ label }}</mat-label>
	<mat-form-field class="form-field" [appearance]="appearance">
		<input
			*ngIf="type === 'text' || type === 'password'"
			matInput
			[type]="type === 'text' || !hidePassword ? 'text' : 'password'"
			[id]="name"
			[name]="name"
			[value]="value"
			(input)="onChange($event)"
			(blur)="onTouched()"
		/>

		<textarea
			*ngIf="type !== 'text' && type !== 'password'"
			matInput
			placeholder="Ex. It makes me feel..."
			[rows]="rows"
		></textarea>

		<button
			*ngIf="endIcon && type === 'password'"
			mat-icon-button
			matSuffix
			type="button"
			(click)="shownPassword()"
		>
			<mat-icon>{{ !hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
		</button>
	</mat-form-field>

	<div
		class="error-container"
		*ngIf="formControl.invalid && (formControl.dirty || formControl.touched)"
	>
		<mat-error class="feedback-error" *ngIf="formControl.hasError('required')">
			{{ validationMessages.required?.message }}
		</mat-error>

		<mat-error class="feedback-error" *ngIf="formControl.hasError('minlength')">
			{{ validationMessages.minlength?.message }}
		</mat-error>

		<mat-error class="feedback-error" *ngIf="formControl.hasError('maxlength')">
			{{ validationMessages.maxlength?.message }}
		</mat-error>

		<mat-error class="feedback-error" *ngIf="formControl.hasError('pattern')">
			{{ validationMessages.pattern?.message }}
		</mat-error>
	</div>
</div>
