.form-control {
	display: flex;
	flex-direction: column;
	width: 100%;
}

mat-label {
	margin-bottom: 0.2rem;
}

::ng-deep
	.mat-mdc-text-field-wrapper.mdc-text-field--outlined
	.mat-mdc-form-field-infix {
	min-height: 48px;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}
