<div class="form-control">
	<label [htmlFor]="name">{{ label }}</label>

	<span [class]="class">
		<i
			*ngIf="endIcon && type === 'password'"
			[class]="endIcon"
			(click)="shownPassword()"
		></i>

		<input
			*ngIf="type === 'text' || type === 'password'"
			pInputText
			[type]="type === 'text' || !hidePassword ? 'text' : 'password'"
			[id]="name"
			[name]="name"
			[value]="value"
			(input)="onChange($event)"
			(blur)="onTouched()"
			[class]="
				formControl.invalid && formControl.touched ? 'ng-invalid ng-dirty' : ''
			"
		/>
	</span>

	<app-error-field
		[formControl]="formControl"
		[validationMessages]="validationMessages"
	></app-error-field>
</div>
