@import '../../../theme/theme';

// mat-mdc-form-field-error mat-mdc-form-field-bottom-align feedback-error ng-star-inserted

mat-error {
	color: darken($warn, 20) !important;
	background-color: $warn-200;
	padding: 1rem;
	border-radius: 6px;
}
