.form-control {
	display: flex;
	flex-direction: column;
	width: 100%;
}

label {
	margin-bottom: 0.2rem;
}

.slider-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
	width: 100%;
	padding-right: 1rem;

	> input {
		width: 55px;
		padding: 0.5rem;
	}

	> p-slider {
		width: 100%;
	}
}
