<p-table
	#myTab
	[value]="products"
	[paginator]="paginator"
	[rows]="rows"
	(rowsChange)="onRowSelect($event)"
>
	<ng-template pTemplate="header">
		<tr>
			<ng-container *ngFor="let col of cols">
				<th>{{ col.header }}</th>
			</ng-container>

			<th></th>
		</tr>
	</ng-template>

	<ng-template pTemplate="body" let-data>
		<tr>
			<ng-container *ngFor="let col of cols">
				<td
					*ngIf="
						col.field !== 'size' &&
						col.field !== 'color' &&
						col.field !== 'price'
					"
				>
					{{ data[col.field] }}
				</td>

				<td *ngIf="col.field === 'size'">
					<app-chip-square
						[label]="data[col.field]"
						color="primary"
						size="small"
					></app-chip-square>
				</td>

				<td *ngIf="col.field === 'color'">
					<app-badge-color
						[color]="data[col.field]"
						size="medium"
					></app-badge-color>
				</td>

				<td *ngIf="col.field === 'price'">
					<app-price
						[value]="data[col.field]"
						[prefix]="true"
						[currency]="currencyEnum.EUR"
					></app-price>
				</td>
			</ng-container>

			<td class="actions-btn">
				<app-button-empty
					icon="fa-solid fa-trash-can"
					color="danger"
				></app-button-empty>
			</td>
		</tr>
	</ng-template>

	<ng-template pTemplate="paginatorleft" let-state>
		<app-table-paginator
			[showCurrentPageReport]="false"
			[rowsPerPageOptions]="rowsPerPageOptions"
			[rows]="rows"
			[first]="first"
			[totalRecords]="totalRecords"
		></app-table-paginator>
	</ng-template>
</p-table>
