<app-layout>
	<div>
		<app-rating
			[value]="2.5"
			iconEmpty="pi pi-star"
			iconFill="pi pi-star-fill"
			color="warning"
			size="normal"
			(starRatingClicked)="receiveRatingClick($event)"
		></app-rating>
	</div>

	<div>
		<app-rating
			[value]="3"
			iconEmpty="pi pi-star"
			iconFill="pi pi-star-fill"
			color="danger"
			size="large"
			(starRatingClicked)="receiveRatingClick($event)"
		></app-rating>
	</div>

	<div>
		<app-rating
			[value]="4.5"
			iconEmpty="pi pi-star"
			iconFill="pi pi-star-fill"
			color="primary"
			size="small"
			(starRatingClicked)="receiveRatingClick($event)"
		></app-rating>
	</div>
</app-layout>
