@import '../../../../../theme/scss/light/theme/theme';

.form-control {
	display: flex;
	flex-direction: column;
	width: 100%;
}

label {
	margin-bottom: 0.2rem;
}

:host ::ng-deep .p-inputtext {
	width: 100%;
}

.p-input-icon-right > .p-icon-wrapper,
.p-input-icon-right > i:last-of-type {
	color: var(--primary-800);
}

.p-inputtext.ng-dirty.ng-invalid {
	color: $dangerColor;
}
