@import '../../../../theme/scss/light/theme/theme';

:host ::ng-deep .section-title {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

:host ::ng-deep .cart-section {
	background-color: $light;
	border: 1px solid rgba($primary, 0.1);
	padding: 1rem;
	border-radius: 10px;
}

:host ::ng-deep .actions-btn {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
}

p-table th,
p-table tr {
	background-color: transparent;
	color: var(--primary-700);
}

p-table th {
	font-size: 0.95rem;
	border: none;
}

:host ::ng-deep .p-paginator {
	background-color: transparent;
	border: none;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
	color: var(--primary-800);
	min-width: 2.25rem;
	height: 2.25rem;

	&:not(.p-highlight):hover {
		background-color: light;
		color: var(--primary-800);
	}
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
	background-color: var(--primary-500);
	color: $light;
	min-width: 2.25rem;
	height: 2.25rem;
}

:host ::ng-deep .p-paginator .p-paginator-first,
:host ::ng-deep .p-paginator .p-paginator-prev,
:host ::ng-deep .p-paginator .p-paginator-next,
:host ::ng-deep .p-paginator .p-paginator-last {
	color: var(--primary-800);
	min-width: 2.25rem;
	height: 2.25rem;
}
