<div class="layout-container">
	<div class="grid">
		<div class="grid-item sidebar">
			<div class="sidebar-top">
				<app-logo [hasPaddingLeft]="true"></app-logo>

				<div class="btn-box">
					<app-button
						variant="rounded"
						shape="square"
						color="primary"
						size="medium"
						iconPrefix="fa-solid fa-plus"
						(click)="openModalAddNewProduct()"
						>Add new product</app-button
					>
				</div>

				<div class="menu-box">
					<ul>
						<app-nav-link
							*ngFor="let link of navLinks"
							[routerLink]="link.routerLink"
							[label]="link.label"
							[icon]="link.icon"
						></app-nav-link>
					</ul>
				</div>
			</div>

			<div class="sidebar-bottom">
				<div class="user-box">
					<p-avatar label="" size="large" shape="circle"></p-avatar>

					<h6 class="user-name">{{ connectedUser.displayName | fullname }}</h6>

					<app-button
						variant="rounded"
						shape="circle"
						color="danger"
						icon="fa-solid fa-ellipsis-vertical"
						[text]="true"
						(click)="menu.toggle($event)"
					></app-button>

					<p-menu #menu [model]="items" [popup]="true"></p-menu>
				</div>
			</div>
		</div>
		<div class="grid-item content">
			<ng-content></ng-content>
		</div>
	</div>
</div>

<app-modal-product
	title="New product"
	position="right"
	[(visible)]="sidebarVisible"
></app-modal-product>
