@import '../../../../../theme/scss/light/theme/theme';

.layout-container {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	margin: 0rem;
	background-color: var(--primary-50);
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	align-items: flex-start;
	width: 100%;
	min-height: calc(100% - (2 * 1.5rem));

	.sidebar {
		grid-column: 1 / span 2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding: 1.5rem;
		padding-left: 0;
		background-color: $light;

		.sidebar-top {
			display: flex;
			flex-direction: column;
			gap: 2.5rem;
			width: 100%;

			.logo-box {
				display: flex;
				align-items: center;
				gap: 1rem;
				padding-left: 1.5rem;

				.icon {
					font-size: 1rem;
					color: var(--primary-800);
				}

				.logo {
					margin-bottom: 0;
					font-size: 1.2rem;
					font-weight: bold;
				}
			}

			.btn-box {
				width: 100%;
				padding-left: 1.5rem;
			}

			.menu-box {
				> ul {
					display: flex;
					flex-direction: column;
					gap: 0.6rem;
					list-style: none;
					padding-left: 0;
				}

				app-nav-link > li {
					padding-left: 1.5rem;
				}
			}
		}

		.sidebar-bottom {
			width: 100%;
			padding-left: 1.5rem;

			.user-box {
				display: flex;
				align-items: center;
				width: 100%;

				.user-name {
					margin-left: 1rem;
					margin-right: 1rem;
					text-transform: capitalize;
					margin-bottom: 0;
				}
			}
		}
	}

	.content {
		grid-column: auto / span 10;
	}
}

.grid-item {
	display: flex;
	width: 100%;
	min-height: 100vh;
}

.user-menu-item {
	background-color: $light;
	color: var(--primary-300);

	&:hover {
		color: var(--primary-500);
	}
}

.content {
	padding: 1rem 2rem;
	width: calc(100%);
}

::ng-deep .p-menu .p-menuitem > .p-menuitem-content {
	background-color: $light;
}

::ng-deep .p-menu .p-menuitem .p-menuitem-link:focus {
	background-color: var(--primary-50);
}

:host ::ng-deep .p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link {
	.p-menuitem-icon {
		color: var(--primary-800);
	}

	.p-menuitem-text {
		color: var(--primary-800);
	}
}

::ng-deep
	.p-menu
	.p-menuitem:not(.p-highlight):not(.p-disabled)
	> .p-menuitem-content:hover {
	background-color: var(--primary-50);
}

:host ::ng-deep .user-box .p-button.p-button-text {
	color: var(--primary-800);
}

:host ::ng-deep .user-box .p-button span {
	font-size: 1.15rem;
}
