<div mat-dialog-content>
	<div class="modal-container">
		<div class="modal-header">
			<h1 class="mat-headline">New product</h1>

			<div mat-dialog-actions>
				<app-icon-button
					[icon]="iconClose"
					(click)="onClose()"
				></app-icon-button>
			</div>
		</div>

		<div mat-dialog-content>
			<form
				novalidate
				class="add-product-form"
				[formGroup]="mainForm"
				(ngSubmit)="onMainFormSubmit()"
			>
				<div [formGroup]="nameForm">
					<div class="form-row">
						<app-text-field
							type="text"
							appearance="outline"
							name="brandName"
							label="Brand Name *"
							groupName="nameForm"
							formControlName="brandName"
							[parentForm]="mainForm"
							[validationMessages]="addProductValidationMessages.brandName"
						></app-text-field>
					</div>

					<div class="form-row">
						<app-text-field
							type="text"
							appearance="outline"
							name="modelName"
							label="Model name *"
							groupName="nameForm"
							formControlName="modelName"
							[parentForm]="mainForm"
							[validationMessages]="addProductValidationMessages.modelName"
						></app-text-field>
					</div>
				</div>

				<div [formGroup]="detailsForm">
					<div class="form-row">
						<app-select
							appearance="outline"
							[items]="categories"
							label="Category *"
							name="category"
							groupName="detailsForm"
							formControlName="category"
							[parentForm]="mainForm"
							[validationMessages]="addProductValidationMessages.category"
						></app-select>
					</div>

					<div class="form-row">
						<app-select
							appearance="outline"
							[items]="sizes"
							label="Size *"
							name="size"
							groupName="detailsForm"
							formControlName="size"
							[parentForm]="mainForm"
							[validationMessages]="addProductValidationMessages.sizes"
						></app-select>
					</div>

					<div class="form-row" [formGroup]="colorsForm">
						<mat-label>Available colors</mat-label>
						<div class="colors-box">
							<ng-container *ngFor="let color of colors">
								<app-checkbox-color
									[name]="color.name"
									[color]="color"
									[formControlName]="color.name"
									groupName="colorsForm"
									[parentForm]="mainForm"
								></app-checkbox-color>
							</ng-container>
						</div>
					</div>
				</div>

				<div [formGroup]="infosForm">
					<div class="form-row">
						<app-slider-with-value
							label="Quantity"
							name="quantity"
							[min]="1"
							[max]="2000"
							[step]="1"
							groupName="infosForm"
							formControlName="quantity"
							[parentForm]="mainForm"
							#quantity
						></app-slider-with-value>
					</div>

					<div class="form-row">
						<app-text-field
							type="number"
							appearance="outline"
							name="price"
							label="Price *"
							groupName="infosForm"
							formControlName="price"
							[parentForm]="mainForm"
							[validationMessages]="addProductValidationMessages.price"
						></app-text-field>
					</div>
				</div>

				<button
					mat-raised-button
					color="primary"
					type="submit"
					[disabled]="!mainForm.valid"
				>
					Add new product
				</button>
			</form>
		</div>
	</div>
</div>

<p-toast position="top-right"></p-toast>
