@keyframes custom-dialog-enter {
	from {
		transform: translateX(100%);
	}

	to {
		transform: none;
	}
}

::ng-deep .modal-add-product {
	background-color: transparent;

	.mat-mdc-dialog-container .mdc-dialog__surface {
		animation: custom-dialog-enter 1s ease;
	}
}

.modal-container {
	padding: 1.5rem 2.25rem;
}

::ng-deep .mdc-dialog .mdc-dialog__content {
	padding: 0;
	max-height: none;
	overflow: hidden;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.add-category-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-row {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.row-checkbox {
	gap: 0rem;
}

.colors-box {
	display: flex;
	justify-content: flex-start;
	gap: 1.25rem;
	width: 100%;
	padding-left: 0.85rem;
}

label {
	margin-bottom: 0.2rem;
}

app-text-field,
app-select,
app-slider-with-value {
	width: 100%;
	margin-bottom: 1rem;
}

app-checkbox-color {
	margin-bottom: 1rem;
}
