@import '../../../../../theme/scss/light/theme/theme.scss';

li {
	display: flex;
	gap: 0.8rem;
	padding: 1rem;
	padding-left: 3.5rem;
}

a {
	text-decoration: none;
	color: var(--primary-200);
}

fa-icon {
	font-size: 1.1rem;
	color: var(--primary-200);
}

.active {
	background-color: var(--primary-50);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	a {
		color: var(--primary-500);
		font-weight: normal;
	}

	fa-icon {
		font-size: 1.1rem;
		color: var(--primary-500);
	}
}
