<div class="cart">
	<p-overlayPanel
		[style]="{
			borderRadius: '10px',
			boxShadow: '0 1px 3px rgba(0, 0, 0, 0.3)',
			padding: '0rem'
		}"
	>
		<ng-template pTemplate="content">
			<div class="content-box">
				<div class="content-header">
					<h3 class="content-title">Cart ({{ cartProducts.length }})</h3>

					<app-button-empty
						label="Remove all"
						icon="fa-solid fa-trash-can"
						color="danger"
					></app-button-empty>
				</div>

				<app-divider margin="1.2rem 0rem 1.5rem"></app-divider>

				<div class="product-cart-list">
					<ng-container *ngFor="let product of cartProducts; let i = index">
						<app-card-product-cart
							[image]="image"
							[product]="product"
						></app-card-product-cart>

						<app-divider
							*ngIf="i < cartProducts.length - 1"
							margin="1.25rem 0rem 1.5rem"
						></app-divider>
					</ng-container>
				</div>

				<app-divider margin="1.65rem 0rem"></app-divider>

				<app-button-rounded
					label="Add to cart"
					color="primary"
					[outlined]="false"
					icon="fa-solid fa-credit-card"
					size="full"
				></app-button-rounded>
			</div>
		</ng-template>
	</p-overlayPanel>
</div>
