.p-overlaypanel .p-overlaypanel-content {
	background-color: red;
}

.content-box {
	width: 100%;
	min-width: 500px;
}

.content-header {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.content-title {
	font-weight: normal;
}

.product-cart-list {
	display: flex;
	flex-direction: column;
}

.price {
}
