:host ::ng-deep .price-box {
	display: flex;
	justify-content: space-between;
}

:host ::ng-deep .price-title {
	color: var(--gray-500);
	font-weight: initial;
}

:host ::ng-deep .price-label {
	color: var(--primary-700);
	font-weight: bold;
}
