<form
	class="login-form"
	*ngIf="mainForm"
	[formGroup]="mainForm"
	(ngSubmit)="onMainFormSubmit()"
>
	<app-alert
		*ngIf="showPasswordEqualError$ | async"
		severity="error"
		[message]="inputsValidationMessages.passwordEqual?.message"
	>
	</app-alert>
	<app-alert [message]="formErrorMessage" severity="error"></app-alert>

	<ng-container [formGroup]="personnalInfosForm">
		<div class="form-row">
			<app-text-field
				type="text"
				name="firstname"
				label="Firstname *"
				formControlName="firstname"
				groupName="personnalInfosForm"
				[parentForm]="mainForm"
				[validationMessages]="inputsValidationMessages.firstname"
			></app-text-field>

			<app-text-field
				type="text"
				name="lastname"
				label="Lastname *"
				formControlName="lastname"
				groupName="personnalInfosForm"
				[parentForm]="mainForm"
				[validationMessages]="inputsValidationMessages.lastname"
			></app-text-field>
		</div>

		<div class="form-row">
			<app-text-field
				type="text"
				name="username"
				label="Username *"
				formControlName="username"
				groupName="personnalInfosForm"
				[parentForm]="mainForm"
				[validationMessages]="inputsValidationMessages.username"
			></app-text-field>
		</div>
	</ng-container>

	<div class="form-row">
		<app-text-field
			type="text"
			name="email"
			label="Email *"
			formControlName="email"
			[parentForm]="mainForm"
			[validationMessages]="inputsValidationMessages.email"
		></app-text-field>
	</div>

	<ng-container [formGroup]="passwordForm">
		<div class="form-row">
			<app-password-field
				name="password"
				label="Password *"
				[toggleMask]="true"
				[feedback]="false"
				formControlName="password"
				groupName="passwordForm"
				[parentForm]="mainForm"
				[validationMessages]="inputsValidationMessages.password"
			></app-password-field>

			<app-password-field
				name="confirmPassword"
				label="Confirm password *"
				[toggleMask]="true"
				[feedback]="false"
				formControlName="password"
				formControlName="confirmPassword"
				groupName="passwordForm"
				[parentForm]="mainForm"
				[validationMessages]="inputsValidationMessages.confirmPassword"
			></app-password-field>
		</div>
	</ng-container>

	<app-button
		variant="raised"
		shape="square"
		color="primary"
		[disabled]="!mainForm.valid"
		>Register</app-button
	>
</form>
