@import '../../../../theme/scss/light/theme/theme';

:host ::ng-deep .rating-box {
	display: flex;
	align-items: center;
	gap: 1rem;
}

:host ::ng-deep .rating-container {
	position: relative;
	overflow: hidden;
}

:host ::ng-deep .icons-box {
	height: 20px;
	position: absolute;
	top: 0;
	overflow: hidden;
}

:host ::ng-deep .icons-wrapper {
	display: flex;
	justify-content: flex-start;
	gap: 0.15rem;
	width: 106px;

	&.icons-fill-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
	}
}

:host ::ng-deep .icon {
	font-size: 1.2rem;
}

:host ::ng-deep .icon-empty-primary,
:host ::ng-deep .icon-fill-primary {
	color: var(--primary-500);
}

:host ::ng-deep .icon-empty-success,
:host ::ng-deep .icon-fill-success {
	color: $success;
}

:host ::ng-deep .icon-empty-warning,
:host ::ng-deep .icon-fill-warning {
	color: $warning;
}

:host ::ng-deep .icon-empty-info,
:host ::ng-deep .icon-fill-info {
	color: $info;
}

:host ::ng-deep .icon-empty-danger,
:host ::ng-deep .icon-fill-danger {
	color: $danger;
}

:host ::ng-deep .icon-empty-help,
:host ::ng-deep .icon-fill-help {
	color: $help;
}

:host ::ng-deep .rating-text {
	font-weight: initial;
}
