.item-box {
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
}

.thumbs {
	overflow: hidden;
	border-radius: 10px;
	width: 125px;

	img {
		width: 125px;
		height: 125px;
		object-fit: cover;
		object-position: center top;
		border-radius: 10px;
	}
}

.item-description {
	width: 100%;
}

.item-title {
	font-weight: normal;
}

.item-info {
	display: flex;
	justify-content: flex-start;
	gap: 1.2rem;
	margin-top: 1rem;

	p {
		display: flex;
		align-items: center;
		gap: 0.25rem;
	}
}

.info-title {
	font-weight: inherit;
	font-size: 0.9rem;
}

.price-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
	width: 100%;
}

app-badge-color {
	height: 15px;
}

.price-input-box {
	width: 170px;
}
