<div class="item-box">
	<div class="thumbs">
		<img [src]="image.src" [alt]="image.alt" />
	</div>

	<div class="item-description">
		<h4 class="item-title">{{ product.brandName }}</h4>

		<div class="item-info">
			<p>
				<span class="info-title">Size :</span>
				<span>{{ product.size }}</span>
			</p>

			<p>
				<span class="info-title">Color :</span>
				<app-badge-color
					[color]="product.color"
					size="medium"
				></app-badge-color>
			</p>
		</div>

		<div class="price-box">
			<p-inputNumber
				[(ngModel)]="itemNumber"
				[showButtons]="true"
				buttonLayout="horizontal"
				spinnerMode="horizontal"
				inputId="horizontal"
				decrementButtonClass="p-button"
				incrementButtonClass="p-button"
				incrementButtonIcon="pi pi-plus"
				decrementButtonIcon="pi pi-minus"
			></p-inputNumber>

			<h3>€ 15.50</h3>
		</div>
	</div>
</div>
