<div class="item-box">
	<div class="thumbs">
		<img [src]="image.src" [alt]="image.alt" />
	</div>

	<div class="item-description">
		<h4 class="item-title">{{ product.brandName }}</h4>

		<div class="item-info">
			<p>
				<span class="info-title">Size :</span>
				<app-chip-square
					[label]="product.size"
					color="primary"
					size="xsmall"
				></app-chip-square>
			</p>

			<p>
				<span class="info-title">Color :</span>
				<app-badge-color
					[color]="product.color"
					size="medium"
				></app-badge-color>
			</p>
		</div>

		<div class="price-box">
			<div class="price-input-box">
				<app-number-field-with-button
					buttonLayout="horizontal"
					inputId="productNumber"
					[itemNumber]="productNumber"
					[(ngModel)]="productNumber"
					(ngModelChange)="onChange()"
				></app-number-field-with-button>
			</div>

			<h4 class="price">
				{{ productPriceTotal | currency: 'EUR' : 'symbol' : '1.2-2' }}
			</h4>

			<app-button-empty
				icon="fa-solid fa-trash-can"
				color="danger"
				(click)="deleteProductInCart(product.id)"
			></app-button-empty>
		</div>
	</div>
</div>
