@import '../../../../theme/theme';

.divider-content {
	display: flex;
	align-items: center;
	justify-content: center;

	&::before,
	&::after {
		content: '';
		display: block;
		width: 100px;
		height: 1px;
		background-color: lighten($primary, 43);
	}

	&::before {
		margin-right: 1rem;
	}

	&::after {
		margin-left: 1rem;
	}
}
