<app-dashboard-layout>
	<div class="container">
		<app-dashboard-header pageTitle="Category">
			<app-button
				variant="raised"
				color="primary"
				[icon]="iconAdd"
				(click)="openModalAddNewCategory()"
				>New category</app-button
			>
		</app-dashboard-header>

		<p-progressSpinner *ngIf="(loading$ | async) === true"></p-progressSpinner>

		<div class="list-container" *ngIf="(loading$ | async) === false">
			<app-table
				[items]="categories"
				[cols]="cols"
				[paginator]="true"
				[rows]="5"
				[showCurrentPageReport]="true"
				currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
				[rowsPerPageOptions]="rowsPerPageOptions"
				[first]="1"
				[totalRecords]="totalRecords"
			></app-table>
		</div>
	</div>
</app-dashboard-layout>

<app-modal-add-category
	[(visible)]="sidebarVisible"
	position="right"
></app-modal-add-category>
