<app-dashboard-layout>
	<div class="container">
		<app-dashboard-header pageTitle="Category">
			<app-button
				variant="raised"
				shape="square"
				color="primary"
				size="medium"
				[iconPrefix]="iconAdd"
				(click)="openModalAddNewCategory()"
				>Add new category</app-button
			>
		</app-dashboard-header>

		<div class="loading-box">
			<p-progressSpinner
				*ngIf="(loading$ | async) === true"
			></p-progressSpinner>
		</div>

		<div class="list-container" *ngIf="(loading$ | async) === false">
			<div class="no-result-box" *ngIf="categories.length <= 0">
				<i class="no-result-icon fa-regular fa-face-frown-open"></i>
				<h2>No result found</h2>

				<app-button
					variant="raised"
					color="primary"
					[icon]="iconAdd"
					(click)="openModalAddNewCategory()"
					>New category</app-button
				>
			</div>

			<ng-container *ngIf="categories.length > 0">
				<app-table-dashboard-category
					[items]="categories"
					[cols]="cols"
					[paginator]="true"
					[rows]="5"
					[showCurrentPageReport]="true"
					currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
					[rowsPerPageOptions]="rowsPerPageOptions"
					[first]="1"
					[totalRecords]="totalRecords"
				></app-table-dashboard-category>
			</ng-container>
		</div>
	</div>
</app-dashboard-layout>

<app-modal-category
	[(visible)]="sidebarVisible"
	title="New category"
	position="right"
></app-modal-category>

<p-toast position="top-right"></p-toast>
