<div class="layout-container">
	<div
		class="grid"
		[style.maxHeight]="getMaxHeightContainer()"
		(window:resize)="detectScreenSize()"
	>
		<div
			class="grid-item grid-item-1"
			[style.maxHeight]="getMaxHeightContainer()"
		>
			<app-image-full-height
				[src]="image.src"
				[alt]="image.alt"
				[position]="image.position"
			></app-image-full-height>
		</div>

		<div class="grid-item grid-item-2">
			<div class="content-box">
				<div class="content">
					<div class="content-top">
						<h1 class="content-title text-center">
							{{ pageTitle }}
						</h1>

						<h5 class="text-center">
							{{ subtitle }}
						</h5>
					</div>

					<!-- Form in parent -->
					<ng-content></ng-content>

					<app-divider
						[maxWidth]="250"
						layout="horizontal"
						label="OR"
						backgroundColor="#f5f6fb"
					></app-divider>

					<div class="social-connect-box">
						<app-button
							*ngFor="let provider of socialProviders"
							variant="raised"
							color="primary"
							[icon]="provider.icon"
							(click)="loginWithProvider(provider.name)"
							>{{ provider.label }}</app-button
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
