<div class="layout-container">
	<mat-grid-list
		[cols]="breakpointValue"
		rowHeight="100%"
		(window:resize)="detectScreenSize()"
	>
		<mat-grid-tile
			*ngIf="windowSize >= minValueByBreakpoint('md')"
			class="grid-item-1"
		>
			<app-image-full-height
				[src]="image.src"
				[alt]="image.alt"
				[position]="image.position"
			></app-image-full-height>
		</mat-grid-tile>

		<mat-grid-tile>
			<div class="content-box">
				<div class="content">
					<div class="login-top">
						<h1 class="login-title text-center mat-headline-3">
							{{ pageTitle }}
						</h1>

						<h3 class="text-center">
							{{ subtitle }}
						</h3>
					</div>

					<!-- Form in parent -->
					<ng-content></ng-content>

					<app-horizontal-divider>OR</app-horizontal-divider>

					<div class="social-connect-box">
						<app-square-button
							*ngFor="let provider of socialProviders"
							[label]="provider.label"
							[color]="provider.color"
							[icon]="provider.icon"
							[size]="provider.size"
							[outline]="provider.outline"
						></app-square-button>
					</div>
				</div>
			</div>
		</mat-grid-tile>
	</mat-grid-list>
</div>
