@import '../../../theme/theme';

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

::ng-deep .successfull {
	background-color: rgb(17, 213, 46);
	color: beige;
}

::ng-deep .fail {
	background-color: $warn-400;
	color: white;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface {
	background-color: transparent !important;
}

.icon {
	color: #fff;
	font-size: 1.25rem;
}
