<p-sidebar
	[visible]="visible"
	[position]="position"
	[showCloseIcon]="false"
	[dismissible]="false"
>
	<ng-template pTemplate="header">
		<h2>{{ title }}</h2>

		<app-button
			shape="circle"
			variant="rounded"
			color="danger"
			icon="fa-solid fa-xmark"
			(click)="onClose(false)"
		></app-button>
	</ng-template>

	<ng-template pTemplate="content">
		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, minima
			animi optio quos ad eaque aperiam, maiores error neque accusamus molestiae
			officia distinctio repellat quis quo, quisquam cum ut possimus dolorum?
			Maiores dignissimos fugiat perferendis odio illum voluptas non enim
			voluptatum voluptatibus numquam.
		</p>

		<app-divider
			[maxWidth]="250"
			icon="fa-solid fa-circle-down"
			layout="horizontal"
			backgroundColor="white"
		>
		</app-divider>

		<form
			class="add-category-form"
			[formGroup]="mainForm"
			(ngSubmit)="onMainFormSubmit()"
		>
			<div class="form-row">
				<app-text-field
					type="text"
					name="name"
					label="Name *"
					formControlName="name"
					[parentForm]="mainForm"
					[validationMessages]="addCategoryValidationMessages.name"
				></app-text-field>
			</div>

			<div class="form-row">
				<app-textarea
					name="description"
					label="Description"
					[rows]="8"
					placeholder="Enter a description"
					formControlName="description"
					[parentForm]="mainForm"
					[validationMessages]="addCategoryValidationMessages.description"
				></app-textarea>
			</div>

			<div class="form-row row-radio">
				<label class="label-group">Status *</label>

				<div class="radio-box">
					<ng-container *ngFor="let item of status">
						<app-radio-base
							label="Status"
							name="status"
							[item]="item"
							formControlName="status"
							[parentForm]="mainForm"
						></app-radio-base>
					</ng-container>
				</div>
			</div>

			<app-button
				variant="raised"
				shape="square"
				color="primary"
				size="medium"
				[disabled]="!mainForm.valid"
				>{{ submitBtnLabel }}</app-button
			>
		</form>
	</ng-template>
</p-sidebar>

<p-toast position="top-right" [preventDuplicates]="true"></p-toast>
