<p-sidebar
	[visible]="visible"
	[position]="position"
	[showCloseIcon]="false"
	[dismissible]="false"
>
	<ng-template pTemplate="header">
		<h2>{{ title }}</h2>

		<app-button
			shape="circle"
			variant="rounded"
			color="danger"
			icon="fa-solid fa-xmark"
			(click)="onClose(false)"
		></app-button>
	</ng-template>

	<ng-template pTemplate="content">
		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, minima
			animi optio quos ad eaque aperiam, maiores error neque accusamus molestiae
			officia distinctio repellat quis quo, quisquam cum ut possimus dolorum?
			Maiores dignissimos fugiat perferendis odio illum voluptas non enim
			voluptatum voluptatibus numquam.
		</p>

		<app-divider
			maxWidth="250px"
			icon="fa-solid fa-circle-down"
			layout="horizontal"
			backgroundColor="white"
		>
		</app-divider>

		<app-form-category
			[submitBtnLabel]="submitBtnLabel"
			[currentCategory]="currentCategory"
			(submitCategory)="submitCategory($event)"
		></app-form-category>
	</ng-template>
</p-sidebar>

<p-toast position="top-right" [preventDuplicates]="true"></p-toast>
