<div class="product-card-box">
	<app-button-circle
		icon="fa-regular fa-heart"
		class="add-wish-list-btn"
		color="danger"
		[outlined]="true"
		(click)="addOrRemoveProductForUserList()"
	></app-button-circle>

	<a [routerLink]="['/products', product.id]">
		<p-card>
			<ng-template pTemplate="header">
				<img
					class="product-thumbs"
					alt="Card"
					src="assets/img/auth/login.jpg"
				/>
			</ng-template>

			<ng-template pTemplate="body">
				<div class="product-primary-content-box">
					<h5 class="product-name">{{ product.brandName }}</h5>

					<div class="badge-colors-box">
						<ng-container *ngFor="let color of product.color">
							<app-badge-color [color]="color" size="medium"></app-badge-color>
						</ng-container>
					</div>
				</div>

				<app-chip size="large" severity="primary">
					<app-price
						[value]="product.price"
						[prefix]="true"
						[currency]="currencyEnum.EUR"
					></app-price
				></app-chip>
			</ng-template>
		</p-card>
	</a>
</div>
