@import '../../../../theme/theme';

.layout-container {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	margin: 0rem;
	background-color: lighten($primary, 50);
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	align-items: flex-start;
	width: 100%;
	min-height: calc(100% - (2 * 1.5rem));

	.sidebar {
		grid-column: 1 / span 2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		padding: 1.5rem;
		padding-left: 0;
		background-color: white;

		.sidebar-top {
			display: flex;
			flex-direction: column;
			gap: 2.5rem;
			width: 100%;

			.logo-box {
				display: flex;
				align-items: center;
				gap: 1rem;
				padding-left: 1.5rem;

				.icon {
					font-size: 1rem;
				}

				h1 {
					margin-bottom: 0;
				}
			}

			.btn-box {
				width: 100%;
				padding-left: 1.5rem;
			}

			.menu-box {
				> ul {
					display: flex;
					flex-direction: column;
					gap: 0.6rem;
					list-style: none;
					padding-left: 0;
				}

				app-nav-link > li {
					padding-left: 1.5rem;
				}
			}
		}

		.sidebar-bottom {
			width: 100%;
			padding-left: 1.5rem;

			.user-box {
				display: flex;
				align-items: center;
				width: 100%;

				.user-name {
					margin-left: 1rem;
					margin-right: 1rem;
					text-transform: capitalize;
					margin-bottom: 0;
					font-weight: normal;
					font-size: 0.85rem;
				}
			}
		}
	}

	.content {
		grid-column: auto / span 10;
	}
}

.grid-item {
	display: flex;
	width: 100%;
	min-height: 100vh;
}

.user-menu-item {
	background-color: white;
	color: $primary-300;

	&:hover {
		color: $primary;
	}
}

.content {
	padding: 1rem 2rem;
	width: calc(100%);
}

::ng-deep .p-menu .p-menuitem > .p-menuitem-content {
	background-color: white;
}

::ng-deep .p-menu .p-menuitem .p-menuitem-link:focus {
	background-color: #f7f4fb;
}

::ng-deep
	.p-menu
	.p-menuitem:not(.p-highlight):not(.p-disabled)
	> .p-menuitem-content:hover {
	background-color: #f7f4fb;
}
