<div class="page-container">
	<header class="layout-container" *ngIf="windowSize >= 768">
		<div class="logo-container">
			<app-logo [hasPaddingLeft]="true"></app-logo>
		</div>

		<div class="navigation-container">
			<app-navigation></app-navigation>
		</div>

		<div class="user-action-container">
			<app-header-user-action [showSeparator]="true"></app-header-user-action>
		</div>
	</header>

	<div *ngIf="windowSize < 768">
		<app-nav-mobile></app-nav-mobile>
	</div>

	<div class="layout-container content-container">
		<ng-content></ng-content>
	</div>
</div>
