@import '../../../../theme/scss/light//theme/theme';

.page-container {
	min-height: 100vh;
}

.layout-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	// background-color: var(--primary-50);
	width: 100%;
	align-items: center;

	@media (min-width: $lg) {
		max-width: 1280px;
		margin: auto;
	}
}

.content-container {
	margin-top: 2rem;
}

.logo-container {
	grid-column: 1 / span 3;
	padding-top: 1rem;
}

.navigation-container {
	grid-column: auto / span 5;

	@media (max-width: $md) {
		grid-column: auto / span 6;
	}
}

.user-action-container {
	grid-column: auto / span 4;
	display: flex;
	justify-content: flex-end;
	// padding-right: 1.5rem;
	padding-top: 0.75rem;

	@media (max-width: $md) {
		grid-column: auto / span 3;
	}
}
