@import '../../../../theme/scss/light/theme/theme';

:host ::ng-deep .page-title-box {
	grid-column: 1 / span 12;
	padding: 0 1rem;
	margin-bottom: 2.5rem;
}

:host ::ng-deep .cart-products-list {
	grid-column: 1 / span 8;
	padding-left: 1rem;
}

:host ::ng-deep .cart-order-summary {
	grid-column: auto / span 4;
	padding-right: 1rem;
	margin-left: 2rem;
}
