<app-auth-layout
	pageTitle="Register"
	subtitle="Lorem ipsum dolor sit, amet consectetur adipisicing elit."
	[socialProviders]="socialProviders"
	[image]="image"
	containerMaxHeight="850px"
>
	<form
		class="login-form"
		*ngIf="mainForm"
		[formGroup]="mainForm"
		(ngSubmit)="onMainFormSubmit()"
	>
		<ng-container [formGroup]="personnalInfosForm">
			<div class="form-row">
				<app-text-field
					appearance="outline"
					name="firstname"
					label="Firstname"
					formControlName="firstname"
					groupName="personnalInfosForm"
					[parentForm]="mainForm"
					[validationMessages]="registerValidationMessages.firstname"
				></app-text-field>

				<app-text-field
					appearance="outline"
					name="lastname"
					label="Lastname"
					formControlName="lastname"
					groupName="personnalInfosForm"
					[parentForm]="mainForm"
					[validationMessages]="registerValidationMessages.lastname"
				></app-text-field>
			</div>

			<div class="form-row">
				<app-text-field
					appearance="outline"
					name="username"
					label="Username"
					formControlName="username"
					groupName="personnalInfosForm"
					[parentForm]="mainForm"
					[validationMessages]="registerValidationMessages.username"
				></app-text-field>
			</div>
		</ng-container>

		<div class="form-row">
			<app-text-field
				appearance="outline"
				name="email"
				label="Email"
				formControlName="email"
				[parentForm]="mainForm"
				[validationMessages]="registerValidationMessages.email"
			></app-text-field>
		</div>

		<ng-container [formGroup]="passwordForm">
			<div class="form-row">
				<app-text-field
					type="password"
					appearance="outline"
					name="password"
					label="Password"
					[hidePassword]="true"
					[endIcon]="true"
					formControlName="password"
					groupName="passwordForm"
					[parentForm]="mainForm"
					[validationMessages]="registerValidationMessages.password"
				></app-text-field>

				<app-text-field
					type="password"
					appearance="outline"
					name="confirmPassword"
					label="Confirm password"
					[hidePassword]="true"
					[endIcon]="true"
					formControlName="confirmPassword"
					groupName="passwordForm"
					[parentForm]="mainForm"
					[validationMessages]="registerValidationMessages.confirmPassword"
				></app-text-field>

				<div *ngIf="showPasswordError$ | async">The passwords not matching</div>
			</div>
		</ng-container>

		<button mat-raised-button color="primary" type="submit">Register</button>
	</form></app-auth-layout
>
