@import './app/theme/theme';
@import './theme/css/light/theme.css';
@import 'primeng/resources/primeng.css';

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: var(--font-family);
}

.mat-h1,
.mat-headline-5,
.mat-typography .mat-h1,
.mat-typography .mat-headline-5,
.mat-typography h1 {
	margin-bottom: 0;
}

.mat-h6,
.mat-typography .mat-h6,
.mat-typography h6 {
	margin-bottom: 0;
}

ul {
	margin: 0;
}
