<p-sidebar
	[visible]="visible"
	[position]="position"
	[showCloseIcon]="false"
	[dismissible]="false"
>
	<ng-template pTemplate="header">
		<h2>New product</h2>

		<app-button
			variant="icon"
			color="danger"
			icon="fa-solid fa-xmark"
			(click)="onClose(false)"
		></app-button>
	</ng-template>

	<ng-template pTemplate="content">
		<p-scrollPanel [style]="{ width: '100%', height: 'calc(100%)' }">
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, minima
				animi optio quos ad eaque aperiam, maiores error neque accusamus
				molestiae officia distinctio repellat quis quo, quisquam cum ut possimus
				dolorum? Maiores dignissimos fugiat perferendis odio illum voluptas non
				enim voluptatum voluptatibus numquam.
			</p>

			<app-divider
				[maxWidth]="250"
				icon="fa-solid fa-circle-down"
				layout="horizontal"
				backgroundColor="white"
			>
			</app-divider>

			<form
				novalidate
				class="add-product-form"
				[formGroup]="mainForm"
				(ngSubmit)="onMainFormSubmit()"
			>
				<div [formGroup]="nameForm">
					<div class="form-row">
						<app-text-field
							type="text"
							name="brandName"
							label="Brand Name *"
							groupName="nameForm"
							formControlName="brandName"
							[parentForm]="mainForm"
							[validationMessages]="inputsValidationMessages.brandName"
						></app-text-field>
					</div>

					<div class="form-row">
						<app-text-field
							type="text"
							name="modelName"
							label="Model name *"
							groupName="nameForm"
							formControlName="modelName"
							[parentForm]="mainForm"
							[validationMessages]="inputsValidationMessages.modelName"
						></app-text-field>
					</div>
				</div>

				<div [formGroup]="detailsForm">
					<div class="form-row">
						<app-select
							[items]="categories"
							label="Category *"
							name="category"
							placeholder="Select a category"
							groupName="detailsForm"
							formControlName="category"
							[parentForm]="mainForm"
							[validationMessages]="inputsValidationMessages.category"
						></app-select>
					</div>

					<div class="form-row">
						<app-select
							[items]="sizes"
							label="Size *"
							name="size"
							placeholder="Select a size"
							groupName="detailsForm"
							formControlName="size"
							[parentForm]="mainForm"
							[validationMessages]="inputsValidationMessages.sizes"
						></app-select>
					</div>

					<div class="form-row row-checkbox" [formGroup]="colorsForm">
						<label>Available colors</label>
						<div class="colors-box">
							<ng-container *ngFor="let color of colors">
								<app-checkbox-color
									[name]="color.name"
									[color]="color"
									[formControlName]="color.name"
									groupName="colorsForm"
									[parentForm]="mainForm"
								></app-checkbox-color>
							</ng-container>
						</div>
					</div>
				</div>

				<div [formGroup]="infosForm">
					<div class="form-row">
						<app-slider-with-value
							label="Quantity"
							name="quantity"
							[min]="1"
							[max]="2000"
							[step]="1"
							groupName="infosForm"
							formControlName="quantity"
							[parentForm]="mainForm"
							#quantity
						></app-slider-with-value>
					</div>

					<div class="form-row">
						<app-number-field
							name="price"
							label="Price *"
							groupName="infosForm"
							formControlName="price"
							[parentForm]="mainForm"
							[validationMessages]="inputsValidationMessages.price"
						></app-number-field>
					</div>
				</div>

				<app-button
					type="submit"
					variant="raised"
					color="primary"
					[disabled]="!mainForm.valid"
				>
					Add new product</app-button
				>
			</form>

			<pre>{{ mainForm.value | json }}</pre>
		</p-scrollPanel>
	</ng-template>
</p-sidebar>

<p-toast position="top-right"></p-toast>
