<div [class]="class">
	<div class="btns-box" *ngIf="!isMobile">
		<app-button-circle
			icon="fa-solid fa-cart-shopping"
			(click)="toggleShowCart($event)"
		></app-button-circle>

		<app-button-circle
			icon="fa-solid fa-heart"
			(click)="goToWishListPage()"
		></app-button-circle>
	</div>

	<span *ngIf="showSeparator" class="vertical-separator"></span>

	<app-button
		*ngIf="!connectedUser && !isMobile"
		shape="circle"
		variant="rounded"
		(click)="menu.toggle($event)"
		icon="fa-solid fa-user"
	></app-button>

	<div class="user-connected" *ngIf="connectedUser && !isMobile">
		<h6 class="user-name">
			{{ connectedUser.displayName | fullname }}
		</h6>
		<p-avatar
			size="large"
			shape="circle"
			(click)="menu.toggle($event)"
		></p-avatar>
	</div>

	<p-menu #menu [model]="userItems" [popup]="true"></p-menu>

	<p-menubar *ngIf="isMobile" [model]="items"></p-menubar>
</div>

<app-cart></app-cart>
