@import '../../../../../theme/scss/light/theme/theme';

:host ::ng-deep .p-sidebar .p-sidebar-header + .p-sidebar-content {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logo-container {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 2rem;
}

:host ::ng-deep .p-sidebar-right,
:host ::ng-deep .p-sidebar-left,
:host ::ng-deep .p-sidebar-top,
:host ::ng-deep .p-sidebar-bottom {
	background-color: $light;
	width: 100%;
	padding: 1rem 1rem;
	min-height: 100vh;
}

:host ::ng-deep .p-sidebar .p-sidebar-header {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
}

:host ::ng-deep .navigation-mobile-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

:host ::ng-deep .sidebar-content-bottom {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}
