<p-sidebar [(visible)]="sidebarVisible">
	<div class="sidebar-content-top">
		<div class="logo-container">
			<app-logo></app-logo>
		</div>

		<div class="navigation-mobile-container">
			<div class="nav-links-mobile-list">
				<ng-container *ngFor="let link of navLinks">
					<a class="nav-link-mobile" [routerLink]="link.routerLink">
						<div class="nav-link-mobile-left">
							<i [class]="'nav-link-mobile-icon ' + link.icon"></i>
							<span class="nav-link-mobile-text">{{ link.label }}</span>
						</div>
						<i class="nav-link-mobile-arrow fa-solid fa-chevron-right"></i>
					</a>
				</ng-container>
			</div>
		</div>
	</div>

	<div class="user-action-container">
		<app-header-user-action
			direction="column"
			[isMobile]="true"
		></app-header-user-action>
	</div>
</p-sidebar>

<p-button (click)="sidebarVisible = true" icon="fa-solid fa-bars"></p-button>
