@import '../../../../../theme/scss/light/theme/theme';

.form-control {
	display: flex;
	flex-direction: column;
	width: 100%;
}

label {
	margin-bottom: 0.2rem;
}

.p-inputtext.ng-dirty.ng-invalid {
	color: $dangerColor;
}
